.container {
  display: flex;
  flex-direction: row;
}

p {
  background-color: aquamarine;
  display: inline-block;
}

.text1 {
  min-height: 80px;
  height: 50px;
}

.text2 {
  min-height: 50%;
  height: 50px;
}

.text3 {
  min-height: 50vh;
  height: 50px;
}

.text4 {
  min-height: auto;
  height: 50px;
}

.text5 {
  min-height: max-content;
  height: 50px;
}

.text6 {
  min-height: min-content;
  height: 50px;
}

.text7 {
  min-height: fit-content;
  height: 50px;
}
