.text1 {
  text-decoration: underline;
}

.text2 {
  text-decoration: overline;
}

.text3 {
  text-decoration: line-through;
}

.text4 {
  text-decoration: underline overline;
}

.text5 {
  text-decoration: underline line-through;
}

.text6 {
  text-decoration: overline line-through;
}

.text7 {
  text-decoration: underline overline line-through;
}

.text8 {
  text-decoration: underline #0000ff;
}

.text9 {
  text-decoration: underline solid;
}

.text10 {
  text-decoration: underline double;
}

.text11 {
  text-decoration: underline dotted;
}

.text12 {
  text-decoration: underline dashed;
}

.text13 {
  text-decoration: underline wavy;
}
