.text1 {
  font: caption;
}

.text2 {
  font: icon;
}

.text3 {
  font: menu;
}

.text4 {
  font: message-box;
}

.text5 {
  font: small-caption;
}

.text6 {
  font: status-bar;
}

.text7 {
  font: xx-small serif;
}

.text8 {
  font: x-small serif;
}

.text9 {
  font: small serif;
}

.text10 {
  font: medium serif;
}

.text11 {
  font: large serif;
}

.text12 {
  font: x-large serif;
}

.text13 {
  font: xx-large serif;
}

.text14 {
  font: smaller serif;
}

.text15 {
  font: larger serif;
}

.text16 {
  font: 12px serif;
}

.text17 {
  font: 0.8rem serif;
}

.text18 {
  font: 80% serif;
}

.text19 {
  font: 16px serif;
}

.text20 {
  font: 16px sans-serif;
}

.text21 {
  font: 16px monospace;
}

.text22 {
  font: 16px cursive;
}

.text23 {
  font: 16px fantasy;
}

.text24 {
  font: italic 16px serif;
}

.text25 {
  font: oblique 16px serif;
}

.text26 {
  font: oblique 20deg 16px serif;
}

.text27 {
  font: small-caps 16px serif;
}

.text28 {
  font: 16px serif;
}

.text29 {
  font: 16px serif;
}

.text30 {
  font: 16px serif;
}

.text31 {
  font: 16px serif;
}
