.text1 {
  z-index: 2;
  background-color: yellow;
  height: 200px;
  width: 200px;
  opacity: 0.8;
  text-align: right;
  position: absolute;
}

.text2 {
  z-index: 1;
  background-color: blue;
  height: 100px;
  width: 300px;
  opacity: 0.8;
  text-align: right;
  position: absolute;
}

.text3 {
  z-index: 3;
  background-color: green;
  height: 300px;
  width: 100px;
  opacity: 0.8;
  text-align: right;
  position: absolute;
}

.text4 {
  z-index: 100;
  background-color: green;
  height: 300px;
  width: 100px;
  opacity: 0.8;
  text-align: right;
  position: absolute;
}

.text5 {
  z-index: aute;
  background-color: blue;
  height: 100px;
  width: 300px;
  opacity: 0.8;
  text-align: right;
  position: absolute;
}

.text6 {
  z-index: -100;
  background-color: yellow;
  height: 200px;
  width: 200px;
  opacity: 0.8;
  text-align: right;
  position: absolute;
}

.section {
  position: relative;
  height: 300px;
}
