.text1::before {
  content: 'あ';
}

.text2::before {
  content: url(https://pbs.twimg.com/profile_images/1015574351272280064/DC2PSvHY_x96.jpg);
}

.text3::before {
  counter-increment: count;
  content: counter(count);
}

.text4::before {
  content: attr(class);
}

.text5::before {
  content: open-quote;
}

.text5::after {
  content: close-quote;
}
