p {
  background-color: aquamarine;
}

.text1 {
  width: 40px;
}

.text2 {
  width: 40%;
}

.text3 {
  width: 40vw;
}

.text4 {
  width: auto;
}

.text5 {
  width: max-content;
}

.text6 {
  width: min-content;
}

.text7 {
  width: fit-content;
}
